#chat-app {
    font-size: 75%;
}
.chat-body li,.chat-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#chat-app  *{
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    word-wrap: break-word;
}
.chat-enable {
    position: fixed;
    z-index: 99;
    right: 10px;
    bottom: 10px;
}
.chat-enable svg.icon {
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.chat-body{
    position: fixed;
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    z-index: 9999;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    height: 700px;
    margin: auto;
}
.chat-wath {
    height: 100%;
    background: #fff;
    border-radius: 0 5px 5px 0;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 75%;
}

.chat-menus {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 25%;
    background-color: #363e47;
    border-radius: 5px 0 0 5px;
    height: 100%;
}
.chat-menus.off {
    display: none;
}

.chat-menus-header {
    background: #303841;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    border-top-left-radius: 5px;
    font-size: 1rem;
}
ul.chat-menus-items {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: calc( 100% - 60px);
}

li.chat-menus_list{
    height: 50px;
    line-height: 50px;
    color: #fff;
    padding: 0 10px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

li.chat-menus_list.on,li.chat-menus_list:hover{
    background-color: #3f4953;
}


.chat-header {
    background: #00a1d6;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-top-right-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}
span.chat-header_title {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
}
.chat-header-icon {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 10%;
    cursor: pointer;
    padding: 0 5px;
    z-index:2;
    text-align: left;
}
.chat-header-icon.right{
    text-align: right;
}
.chat-header-icon:hover {
    opacity: 0.8;
}
.chat-header-item {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.chat-header-icon svg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
}
.chat-header-icon path {
    fill: #fff;
}
.chat-footer {
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #e3e3e3;
    background-color: #fff;
}
.chat-content {
    height: calc(100% - 120px );
    background: #f4f4f4;
}
ul.chat-content-items {
    width: 100%;
    height: 100%;
    overflow: auto;
}
li.chat-content_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(238, 238, 238, 0.39);
    padding: 10px;
    position: relative;
}
.user-pto {
    position: relative;
}
.user-pto img.avatar {
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid #ddd;
}
.list-user {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    line-height: 30px;
}
.user-info {
    overflow: hidden;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;

    max-width: calc(100% - 50px);
}
.user-info_nick {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 600;
    font-size: 13px;
    color: #757575;
    cursor: pointer;
}
li.chat-content_list.auth .user-info_nick{
    color: #00a1d6;
}
img.chat-logo{
    max-width: 100px;
    width: 100%;
    cursor: pointer;
}
.user-info_time {
    font-size: 10px;
    color: #777;
    padding: 0 10px;
}
.placeholder{
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.list-contens {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 50px;
    padding-left: 0;
    min-height: 30px;
}


li.chat-content_list.auth .list-contens:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 20px 0 0;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    right: 40px;
}
li.chat-content_list.tourist .list-contens:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 15px 0;
    border-color: transparent #fff  transparent transparent;
    position: absolute;
    left: 40px;
}

.list-contens p {
    background: #fff;
    border-radius: 5px;
    max-width: 80%;
    min-width: 50px;
    min-height: 30px;
    padding: 10px;
    font-size: 14px;
    color: #626c76;
}


li.chat-content_list.auth .list-contens{
    padding-left: 0;
    padding-right: 50px;
}
li.chat-content_list.tourist .list-contens{
    padding-left: 50px;
    padding-right: 0;
}

li.chat-content_list.auth .list-contens p{
    float: right;
    border-radius: 10px 0px 10px 10px;
}
li.chat-content_list.tourist .list-contens p{
    float: left;
    border-radius: 0 10px 10px 10px;
}


.list-contens img {
    max-width: 100%;
}



/*滚动条*/
ul.chat-content-items::-webkit-scrollbar-thumb {
    background: #929292;
}
ul.chat-content-items::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
ul.chat-content-items::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

ul.chat-menus-items::-webkit-scrollbar,.edit-textarea textarea::-webkit-scrollbar {
    display:none
}


ul.chat-content-items[data-load="true"] .user-pto{
    display: none;
}



.chat-edit {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
}
.edit-textarea {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 100%;
}
.edit-textarea textarea {
    display: block;
    font-size: 10px;
    width: 100%;
    height: 100%;
    border: none;
    text-align: left;
    transition: all .3s linear;
    color: #555;
    background-color: #ececec;
    border-radius: 7px;
    padding: 10px;
    outline: none;
    font-family: -webkit-body;
    cursor: pointer;
}
.edit-push{
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 10%;
    height: 100%;
    text-align: right;
}
.edit-push svg.icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 5px;
}
.edit-emojis svg.icon {
    width: 100%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
}
.edit-emojis {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 10%;
    height: 100%;
    text-align: right;
}
.edit-emojis svg.icon.on path {
    fill: #00a1d6;
}
.edit-emojis svg.icon path,.edit-push svg.icon path{
    fill: #464444b5;
}
.edit-emojis svg.icon:hover path,.edit-push svg.icon:hover path{
    fill: #00a1d6;
}
.emojis-content {
    position: absolute;
    width: 100%;
    right: -400px;
    right: 0;
    background: #fff;
    padding: 5px;
    bottom: 0px;
    opacity: 0;
    z-index: -1;
    transition: all .3s;
}
.emojis-content.on {
    opacity: 1;
    right: 0;
    z-index: inherit;
    transition: all .3s;
    bottom: 60px;
}
.enter-header {
    width: 100%;
}
.enter-header svg {
    width: 20px;
}
ul.emojis-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
ul.emojis-box a.emoji-list {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 5%;
    font-size: 16px;
    padding: 0 4px;
    line-height: 40px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}
a.emoji-list img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

/*动画效果*/
img.chat-logo:hover {
    -webkit-animation: tada 1.5s .2s ease both;
    -moz-animation: tada 1.5s .2s ease both;
}
@-moz-keyframes tada{
    0%{-moz-transform:scale(1);}
    10%,20%{-moz-transform:scale(0.9) rotate(-3deg);}
    30%,50%,70%,90%{-moz-transform:scale(1.2) rotate(3deg);}
    40%,60%,80%{-moz-transform:scale(1.2) rotate(-3deg);}
    100%{-moz-transform:scale(1) rotate(0);}
}
@-webkit-keyframes tada{
    0%{-webkit-transform:scale(1);}
    10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);}
    30%,50%,70%,90%{-webkit-transform:scale(1.2) rotate(3deg);}
    40%,60%,80%{-webkit-transform:scale(1.2) rotate(-3deg);}
    100%{-webkit-transform:scale(1) rotate(0);}
}

@media (max-width: 500px){
    img.chat-logo {
        max-width: 70px;
    }
    .chat-body{
        max-width: 90%;
        max-height: 500px;
    }
    .chat-wath{
        max-width: 100%;
    }
    .chat-menus{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        z-index: 1;
    }
}